* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    background: chocolate;
    --card-height: 770px;
    --card-width: 560px;
    --btn-h: 65px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    height: var(--card-height);
    width: var(--card-width);
}

.geo {
    text-align: center;
    padding: 25px 0 0;
    color: #000a
}

.geo > p > i {
    margin: 0 5px;
    outline: 1.5px solid;
    border-radius: 50%;
    width: 16px;
    padding-right: 2px;
}

.img-container {
    text-align: center;
}

.photo {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 15px solid white;
    box-shadow: 0 3px #0002;
}

.info-container {
    text-align: center;
}

.info-head h1 {
    font-weight: 100;
    font-size: 40px;
    /* margin: 0 0 15px; */
}

.info-main {
    width: 60%;
    margin: 0 auto 35px;
}

.follow-btn a {
    display: inline-block;
    padding: calc((var(--btn-h) - 26px) / 2);
    background-color: rgb(255, 157, 0);
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    width: 32%;
    height: var(--btn-h);
    border-radius: 10px;
    box-shadow: 0 4px 1px rgb(153, 97, 0);
}
.follow-btn a:hover {
    background: rgb(230, 142, 0);
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 30px 0 0;
}

.footer > div {
    display: flex;
    background-color: rgb(57, 53, 43);
    color: white;
    height: 110px;
    width: calc(var(--card-width) / 3 );
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.footer > div:nth-child(1) {
    border-bottom-left-radius: 20px;
}

.footer > div:nth-child(2) {
    border-width: 0 1px;
    border-color: #fff3;
    border-style: solid;
}

.footer > div:nth-child(3) {
    border-bottom-right-radius: 20px;
}

.red {
    color: rgb(204, 111, 111);
}